#mainframe {
    width: 900px;
    margin: auto;
    border-left: 10px rgb(70, 70, 83);
    border-right: 10px rgb(70, 70, 83);
}

#maintitle {
    display: inline-block;
}

#maintitle img {
    background-color: rgb(177, 199, 223);
    color: rgb(102,  101, 132)
}

#firsttable table {
    border: 0px;
    width: 650px;
    background-color: rgb(92, 107, 123);
}

section {
    width: 600px;
    background-color: white;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
}

section b {
    font-size: 200%;
    margin-bottom: 20px;
}

table {
    margin: auto;
}

#secondtable {
    width: 600px;
    text-align: center;
    background-color: white;
    height: 35px;
}

#secondtable tr:nth-child(2) {
    background-color: rgb(205, 219, 235);
}

#secondtable tr:nth-child(3) {
    background-color: rgb(205, 219, 235);
}

body {
    background-color: rgb(224, 224, 224); 
}