#mainframe {
    width: 900px;
    margin: auto;
}

#maintitle {
    display: inline-block;
}

#maintitle img {
    background-color: rgb(177, 199, 223);
    color: rgb(102,  101, 132)
}

table#1sttable {
    border: 0px;
    width: 650px;
    background-color: white;
}

table {
    margin: auto;
}

table#2ndtable {
    width: 600px;
}

table#2ndtable td {
    
    padding: 0;
    background-color: rgb(92, 107, 123);
    height: 30px;
    text-align: center;
}

body {
    background-color: rgb(224, 224, 224); 
}